.image-cover {
  height: 250px;
  width: 100%;
}

.anime-card {
  border-radius: 15px !important;
  height: 300px;
  width: 200px;
  transition: width 15s;
}

.anime-card:hover {
  position: absolute;
  left: -50px;
  height: 420px;
  width: 300px;
  transition: 0.7s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.anime-card-release {
  height: 300px;
  width: 200px;
  transition: width 15s;
}

.card-div {
  position: relative;
  height: 300px;
  width: 200px;
}

.anime-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.rank-tag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #f223d6f7;
  border-radius: 0 3px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  border-radius: 0 10px 0 0;
}
